@model IEnumerable<DebuggerCollege.Models.Courses>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <!--@Html.ActionLink("Create New", "Create")-->
        <h1> DebuggerCollege Courses</h1>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseInformation)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseInformation)
            </td>
            <td>
                <!-- @Html.ActionLink("Edit", "Edit", new { id=item.id }) | -->
        @Html.ActionLink("Details", "../Modules1/Index", new { id = item.id })
         @Html.ActionLink("Register", "Delete", new { id = item.id }) 
        </td>
        </tr>
    }

    </table>
   <a style="text-decoration: none; color: black" href="~/SoftwareEngineering/Modules"><b>Software Engineering</b></a>
</body>
</html>
